---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664212087,"sunrise":1664189959,"sunset":1664233166,"temp":75.43,"feels_like":74.84,"pressure":1006,"humidity":46,"dew_point":53.24,"uvi":3.44,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":250,"wind_gust":24.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664212140,"precipitation":0},{"dt":1664212200,"precipitation":0},{"dt":1664212260,"precipitation":0},{"dt":1664212320,"precipitation":0},{"dt":1664212380,"precipitation":0},{"dt":1664212440,"precipitation":0},{"dt":1664212500,"precipitation":0},{"dt":1664212560,"precipitation":0},{"dt":1664212620,"precipitation":0},{"dt":1664212680,"precipitation":0},{"dt":1664212740,"precipitation":0},{"dt":1664212800,"precipitation":0},{"dt":1664212860,"precipitation":0},{"dt":1664212920,"precipitation":0},{"dt":1664212980,"precipitati[...]
