---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664049152,"sunrise":1664017051,"sunset":1664060560,"temp":294.17,"feels_like":293.42,"pressure":1014,"humidity":42,"dew_point":280.78,"uvi":2.51,"clouds":40,"visibility":10000,"wind_speed":3.09,"wind_deg":290,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1664049180,"precipitation":0},{"dt":1664049240,"precipitation":0},{"dt":1664049300,"precipitation":0},{"dt":1664049360,"precipitation":0},{"dt":1664049420,"precipitation":0},{"dt":1664049480,"precipitation":0},{"dt":1664049540,"precipitation":0},{"dt":1664049600,"precipitation":0},{"dt":1664049660,"precipitation":0},{"dt":1664049720,"precipitation":0},{"dt":1664049780,"precipitation":0},{"dt":1664049840,"precipitation":0},{"dt":1664049900,"precipitation":0},{"dt":1664049960,"precipitation":0},{"dt":1664050020,"precipitati[...]
