---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664058602,"sunrise":1664017051,"sunset":1664060560,"temp":66.72,"feels_like":65.59,"pressure":1013,"humidity":53,"dew_point":49.06,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":190,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664058660,"precipitation":0},{"dt":1664058720,"precipitation":0},{"dt":1664058780,"precipitation":0},{"dt":1664058840,"precipitation":0},{"dt":1664058900,"precipitation":0},{"dt":1664058960,"precipitation":0},{"dt":1664059020,"precipitation":0},{"dt":1664059080,"precipitation":0},{"dt":1664059140,"precipitation":0},{"dt":1664059200,"precipitation":0},{"dt":1664059260,"precipitation":0},{"dt":1664059320,"precipitation":0},{"dt":1664059380,"precipitation":0},{"dt":1664059440,"precipitation":0},{"dt":1664059500,"precipitati[...]
