---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=afe7a2d0cef5ac1ba9162da3cf153261&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664229736,"sunrise":1664189959,"sunset":1664233166,"temp":71.49,"feels_like":70.88,"pressure":1005,"humidity":54,"dew_point":54,"uvi":0.19,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664229780,"precipitation":0},{"dt":1664229840,"precipitation":0},{"dt":1664229900,"precipitation":0},{"dt":1664229960,"precipitation":0},{"dt":1664230020,"precipitation":0},{"dt":1664230080,"precipitation":0},{"dt":1664230140,"precipitation":0},{"dt":1664230200,"precipitation":0},{"dt":1664230260,"precipitation":0},{"dt":1664230320,"precipitation":0},{"dt":1664230380,"precipitation":0},{"dt":1664230440,"precipitation":0},{"dt":1664230500,"precipitation":0},{"dt":1664230560,"precipitation":0},{"dt":1664230620,"precipitati[...]
