---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=afe7a2d0cef5ac1ba9162da3cf153261&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664310557,"sunrise":1664276413,"sunset":1664319470,"temp":70.29,"feels_like":68.79,"pressure":1011,"humidity":38,"dew_point":43.52,"uvi":1.84,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":290,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664310600,"precipitation":0},{"dt":1664310660,"precipitation":0},{"dt":1664310720,"precipitation":0},{"dt":1664310780,"precipitation":0},{"dt":1664310840,"precipitation":0},{"dt":1664310900,"precipitation":0},{"dt":1664310960,"precipitation":0},{"dt":1664311020,"precipitation":0},{"dt":1664311080,"precipitation":0},{"dt":1664311140,"precipitation":0},{"dt":1664311200,"precipitation":0},{"dt":1664311260,"precipitation":0},{"dt":1664311320,"precipitation":0},{"dt":1664311380,"precipitation":0},{"dt":1664311440,"precipitati[...]
