---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=afe7a2d0cef5ac1ba9162da3cf153261&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664298617,"sunrise":1664276413,"sunset":1664319470,"temp":70.29,"feels_like":68.85,"pressure":1012,"humidity":39,"dew_point":44.19,"uvi":5.03,"clouds":40,"visibility":10000,"wind_speed":16.11,"wind_deg":270,"wind_gust":26.46,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1664298660,"precipitation":0},{"dt":1664298720,"precipitation":0},{"dt":1664298780,"precipitation":0},{"dt":1664298840,"precipitation":0},{"dt":1664298900,"precipitation":0},{"dt":1664298960,"precipitation":0},{"dt":1664299020,"precipitation":0},{"dt":1664299080,"precipitation":0},{"dt":1664299140,"precipitation":0},{"dt":1664299200,"precipitation":0},{"dt":1664299260,"precipitation":0},{"dt":1664299320,"precipitation":0},{"dt":1664299380,"precipitation":0},{"dt":1664299440,"precipitation":0},{"dt":1664299500,"precipitati[...]
